config ADPD188BI
    bool "ADPD188BI Smoke Detection Sensor Driver"
    default y
    select SENSOR
    help
      Enable the Zephyr sensor driver for the Analog Devices ADPD188BI.

if ADPD188BI

config ADPD188BI_I2C
    bool "ADPD188BI via I2C"
    default y
    depends on I2C
    help
      Enable I2C support for the ADPD188BI sensor.

endif # ADPD188BI
