config ADPD188
    bool "ADPD188BI Smoke Detection Sensor Driver"
    depends on SENSOR
    help
      Enable the Zephyr sensor driver for the Analog Devices ADPD188.

if ADPD188

config ADPD188_I2C
    bool "ADPD188 via I2C"
    depends on I2C
    default y
    help
      Enable I2C support for the ADPD188 sensor.

config ADPD188_TRIGGER
    bool "Enable interrupt trigger support"
    depends on GPIO
    select SENSOR_TRIGGER
    default n
    help
      Enable data-ready interrupt support.

endif # ADPD188
